
.container {
  width: 100%;
  /*padding: 0 15px;*/
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position:fixed;
  top:0;
  z-index:10;
}

.logo {
  width: 65px;
  height: 65px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: gray;
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}


.container1 {
  position: relative;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: lightgray;
}


.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
  width: 100%;
}

.active,
.demo:hover {
  opacity: 1;
}

.mySlides img{
	width: 65%;
	padding-left: 250px;
	padding-top: 50px;
	opacity: 0.7;
}

.container-signup img{
  position: absolute;
}


.signup h1{
	font-size: 70px;
	text-align: center;
	text-shadow: 2px 2px lightgray;

}

.btn-wrapper {
  margin: 20px 0;
  padding-top: 80px;
}

.container-signup {
  background-size: cover;
  color: white;
  text-align: center;
  position: absolute;
}


.fa {
  margin-right: 10px;
}


.btn {
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.9;
}

.btn:hover
{
	opacity: 0.6;
}

.signup{
	float: right;
}

.split {
  height: 100%;
  
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  /*padding-top: 20px;*/
}


.left {
  left: 0;
  width: 45%;
}


.right {
	padding-top: 150px;
  right: 0;
  width: 55%;
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 1100px;
}


